section{
    margin-top: 50px;
}
.navbar-section{
    margin-top: 20px;
}

.dropdown-menu li a {
    font-weight: 700;
    padding-bottom:20px;
}

/* .carousel-inner{
    position: relative;

}
.carousel-caption{
    position: absolute;
    bottom: 150px;
} */

.carousel-item::before{
    content:"";
    display: block;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: .5;
}


